version: '3.7'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  timescaledb:
    image: timescale/timescaledb-ha:pg15-latest
    platform: linux/amd64
    container_name: timescaledb
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: pulseboard
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - timescaledb-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  auth-service:
    build:
      context: ./apps/auth-service
    ports:
      - "5001:5001"
    environment:
      - .env.shared
    depends_on:
      - timescaledb
  graphql-api:
    build:
      context: ./apps/graphql-api
    ports:
      - "4000:4000"
    env_file:
      - .env.shared
    depends_on:
      - timescaledb
      - auth-service
volumes:
  timescaledb-data:
